.container {
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
  padding: 10px;
  border-radius: 6px;
  max-width: 750px;
}

#main-card {
  color: rgba(72, 72, 74, 1);
  background: linear-gradient(
    111.5deg,
    rgb(243, 250, 253) 15%,
    rgb(252, 236, 227) 75%
  );
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px auto;
  margin-bottom: 5px;
  max-height: 650px;
  max-width: 650px;
}

.container form {
  margin-top: 10px;
  margin-bottom: 20px;
}

.container .search-button {
  background-color: rgb(147, 207, 233);
  border-color: rgb(147, 207, 233);
  transition: 150ms ease-in-out;
}

.container .search-button:hover {
  background-color: rgb(117, 176, 201);
  border-color: rgb(117, 176, 201);
}

.container h1 {
  font-size: 20px;
  line-height: 30px;
}

.container ul {
  margin: 0;
  padding: 0;
}

.container li {
  font-size: 10px;
  list-style: none;
}

.main-icon {
  width: 64px;
  vertical-align: middle;
  margin-right: 10px;
}

.container .temperature {
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: 64px;
  vertical-align: middle;
}

.container .unit {
  position: relative;
  top: -16px;
}

.container .weather-details {
  position: relative;
  top: 24px;
}
